.about {
    margin-bottom: 80px;
  }
  
  .about .container-user {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    height: 60%;
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
  }
  
  
  .about .container-user .left,
  .about .container-user .right {
    flex: 1;
    padding: 20px; 
  }
  
  .about .container-user .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about .heading {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .about p {
    font-size: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
    line-height: 30px;
  }