.main-bpn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bpn-body {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    border-radius: 45px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 5%;
    position: relative;
  }
  
  .footer-bpn {
    margin-bottom: 2%;
    margin-right: 2%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .bill-btn {
    background-color: #03a914;
    border-radius: 45px;
    border: 2px solid #03a914; 
  }
  
  .bill-btn2 {
    margin-left: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 45px;
    border: 2px solid #ff0000; 
  }
  
  .bpn-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
  }
  .bpn-title {
    font-size: 40px;
    color: #000;
  }
  .bpn-detail {
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translateX(-50%); 
  }
  

  .bpn-teble {
    width: 30vh;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-50%); 
  }

.table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table2 {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table3 {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .table4 {
    padding: 8px;
  }
  
  .table2 th {
    background-color: rgb(220, 172, 41);
    color: white;
  }
  
  .table1 tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
.bpn-up {
    text-align: center;
    border: 2px dashed #777;
    padding-top: 15%;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.3s;
    width: 35vh;
    height: 35vh;
    position: absolute;
    top: 20%;
    right: -10%;
    transform: translateX(-50%); 
  }
  
  .bpn-up:hover {
    border-color: #4CAF50; 
  }
  
  .bpn-up input {
    display: none; 
  }
  
  .bpn-up label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
  }
  
  .bpn-up .file-name {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
  }
  

  
  
  
  