.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: scroll;
    margin-bottom: 50px;
}
.add-button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.card-img-top {
    height: 400px; 
    object-fit: cover; 
  }
.add-news-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .add-news-button:hover {
    background-color: #0056b3;
  }
  