.input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px ;
    width: 100%;
   }
   label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
   }
   
   input[type="checkbox"] {
    margin: 0 8px 0 0;
    transform: translateY(1px);
   }
   
   /* Style the checkbox container (optional) */
   .checkbox-container {
    margin-top: 10px;
   }
   .forgot {
    inline-size: none;
    margin: 0px 0px 12px 80px;
   }
   .button{
    margin: 16px;
   }