@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
}
.content_body {
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.app {
  display: flex;
  position: relative;
  background-image: url("../src/img/CircleBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-bars {
  text-decoration: none;
  color: #000;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* sidebar */
.main-sidebar {
  background: #ffffff;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar {
  height: 100%;
}
.sidebar-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar-main-a {
  flex: 1;
  margin-bottom: 32px;
}
.sidebar-icon {
  margin: 10px 0 20px 20px;
}
.sidebar-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}
.sidebar-menu {
  padding: 0 24px;
  margin-bottom: 8px;
  margin-top: 32px;
}
